@mixin white-text {
	h1, h2, h3, h4, a, p, label, li {color: $white;}
}

a {
	transition: 0.2s all linear;
}

.ming {
	background: #336E7B url('/assets/img/backgrounds/cabin.png') 50% 0 no-repeat fixed;
	background-size: cover;
}
section.ming {
	@include white-text;
	.panel {
		background: rgba($black, 0.5);
	}
}

.orange-bg {
	background: $orange url('/assets/img/backgrounds/cabin-orange.png') 50% 0 no-repeat fixed;background-size: cover;
	@include white-text;
	padding-bottom: 2rem;
}

.oil {
	background: $oil url('/assets/img/backgrounds/cabin-oil.png') 50% 0 no-repeat fixed;
	background-size: cover;
}

p.help-block {
	font-size: rem-calc(14);
	margin-top: -8px;
}

.sublime-bg {
	background-origin: border-box;
	background-repeat: no-repeat;
	background-image: url('/assets/img/backgrounds/sublime.gif');
	background-size: cover;
	@include white-text;
}

.scrivs {
	background-origin: border-box;
	background-repeat: no-repeat;
	background-image: url('/assets/img/backgrounds/scrivs.jpg');
	background-size: cover;
}

.scrivs-bg {
	background: linear-gradient(90deg, rgba($black, 0.5) 10%, rgba($black, 0.5) 90%), url('/assets/img/backgrounds/scrivs.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	h2, h3, p { color: $white; }
}

.avatar {
	border-radius: 100%;
	max-width: rem-calc(120);
}

.no-padding {
	padding: 0 !important;
}

.hero {
	h2, h1 {
    	color: $white;
    	line-height: 1;
	}
  	h3, h4 {color: $white;}
  	.hero-paragraph {margin-top: 1rem;}
  	.hero-span-list li {font-size: rem-calc(16px)}
}

.quick {
	background-color: $white;
}

.top-section {
	border-top: none;
	margin-top: rem-calc(-45);
}

.course-list {
	margin-left: 0.05rem;
	margin-top: 2rem;
	li {
		margin-bottom: 1.5rem;
		margin-right: 0.5rem;
		margin-left: 0;
		display: inline-block;
		a {
			font-family: $font-family-soft;
			color: $white;
			background: transparent;
			border: 1px solid rgba($white, 1);
			border-radius: 3px;
			padding: 0.5rem 0.75rem;
			transition: all 0.2s linear;
			font-size: 1.2rem;
			&:hover {
				background: transparent;
				border-color: $white;
				color: $white;
				cursor: default;
			}
		}
	}
}

.credits {
    padding: 1rem 0 0;
    background-color: rgba(51,51,51,.2);
    a, h2, h3, label, p {
    	color: $white;
    }
}

.content-hero {
	padding-top: 4rem;
	h2 {
		font-size: 3rem;
		margin: 0;
		line-height: 1;
		color: $white;
	}
	h3.heading-meta {
		margin: 0;
		a {
			color: rgba($white, 0.75);
			border-bottom: 1px solid rgba($white, 0.75);
		}
	}
}

section.lesson-video {
	background-color: $oil;
	padding-top: 2rem;
	ul.button-group.stacked {
		border-radius: $global-radius;
		border: 2px solid rgba($white, 1);
		li {
			margin:0;
			display: block;
			border-bottom: 1px solid $white;
			a.button {
				margin: 0;
				display:block;
				border: none;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

section.lesson {
	padding: 2rem 0;
	table.lessons {
		border-radius: $global-radius;
		border-collapse: collapse;
		border-spacing: 0;
		tr {
			th {
				&.lesson-index, &.lesson-length {
					text-align: center;
				}
			}
			td {
				border: 1px solid $gainsboro;
				padding: 0;
				a {
					display:block;
					padding: 1rem;
					color: $ming; 
					font-weight: 500;
				}
				&.lesson-index, &.lesson-length {
					text-align: center;
					a {
						color: $base;
					}
				}
			}
			&:hover {
				background-color: $ming;
				color: $white;
				transition: all 0.2s linear;
				td {
					color: $white;
					border-color: $white;
					a {
						color: $white;
					}
				}
			}
			&.active {
				background-color: $ming;
				color: $white;
				td {
					color: $white;
					a {
						color: $white;
					}
				}
			}
		}
	}
}

code, code p {
	font-size: rem-calc(14);
}

.content {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $white;
}

.break {
	padding: 2rem 1rem;
	@include white-text;
}

.dark-content {
	@include white-text;
}

.logo-list {margin-top: 2rem;margin-bottom: 1.5rem;list-style-type: none;}
  .logo-list li {margin-right:2rem; display:inline-block;}
  .logo-list img { width: 4rem;}

.faq p {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
}

.courses {
	padding-top: 4rem;
 	.course-meta {
 		background-color: rgba($black, 0.15);
 		border-radius: $global-radius;
 		padding: 2rem 2rem 1rem;
 		margin-bottom: 2rem;
 		p {
 			font-size: rem-calc(16)
 		}
 	 	a {
 	 		border-bottom: 1px solid $white;
 	 		&:hover {
 	 			border-color: transparent;
 	 		}
 	 	}
 			
 		h2.heading {
 			background: rgba($black, 0.25);
 			padding: 0.5rem 1rem;
 			display: inline-block;
 			border-radius: $global-radius;
 		}

 	 	span.time {
 	 		font-size: rem-calc(16);
 	 		color: rgba($white, 0.75);
 	 	}
 	 	h4.subheader {
 	 		font-size: rem-calc(14);
 	 		color: rgba($white, 0.5);
 	 		margin: 0;
 	 	}
 	}
}
 h2.heading {
 	margin-bottom: 2rem;
 }

@media #{$medium-up} {
	.hero {
		padding: 4rem 0;
    	h1 {
      		font-size: 6rem;
    	}
		h2 {
			font-size: 4rem;
		}
	}
	.content {
		h3 {
			line-height: 1.2;
		}
		.video-meta {text-align: center}
	}
	.scrivs-bg {
		background: $white;
		h2, h3, p { color: $jet; }
	}
}